.mostread.block .mostread-cardlist {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
}

.mostread.block .mostread-cardlist .card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}